<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th id="priceHeader">Цена</th>
            <th>Местоположение</th>
            <th id="countHeader">Количество</th>
            <th>Добавить на склад</th>
            <th>Убрать со склада</th>
        </tr>
    </thead>
    <tbody>
        {% for product, inventory, location in products_with_inventory %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ location.name }}</td>
                <td id="inventoryCount_{{ product.id }}_{{ location.id }}">{{ inventory.quantity }}</td>
                <td>
                    <button class="btn btn-success add-inventory" data-product-id="{{ product.id }}" data-location-id="{{ location.id }}">Добавить</button>
                </td>
                <td>
                    <button class="btn btn-danger remove-inventory" data-product-id="{{ product.id }}" data-location-id="{{ location.id }}">Убрать</button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>